<div class="container">
  <div class="card">

    <div class="title">
      Sign in
    </div>
    <div class="form">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Your phone number" type="tel">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Passowrd</mat-label>
            <input matInput placeholder="Your password" type="password">
          </mat-form-field>
      </form>
    </div>
    <div class="button-container">
        <button mat-stroked-button style="color: #4285F4;">Sign in</button>
    </div>
    <div class="footer">
        Don't have an account?
    </div>
    <div class="button-container">
        <button mat-button style="color: #4285F4;">Sign up</button>
    </div>
  </div>
</div>
